body {
	padding: 10px;
	background: white url(images/little_pluses.png) top left repeat;
}

/* header */

header {
	height: 275px;
	border-radius: 10px;
	border: 4px solid #8c8984;
	position: relative;
	background-color: #ECF3F7;
	font-family: Helvetica, Arial, sans-serif;
	color: #8c8984;
	padding-top: 10px;
	margin-bottom: 10px;
}
#name {
	text-transform: uppercase;
	font-size: 30px;
	padding-left: 50px;
}
nav {
	float: left;
	margin-top: 5px;
}
#navlist li {
	float: left;
	display: block;
	padding-right: 40px;
	padding-left: 0px;
	font-size: 8px;
}


/* button design */

.button {
    display: block;
    height: 60px;
    width: 175px;
    background: #ECF3F7;
    border: 3px solid #8c8984;
    border-radius: 10px;
    padding-top: 45px;
    color: #8c8984;
    text-align: center;
    text-transform: uppercase;
    font: bold 3.2em/24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    box-shadow: 10px 7px 10px #9d9a95;
}
a.button {
    text-decoration: none;
}
.button:hover {
	border-radius: 10px;
	border: 3px solid #8c8984;
	color: #ffffff;
	background-color: #8c8984;
}

/* education section*/

#education {
	height: 325px;
	border-radius: 10px;
	border: 4px solid #8c8984;
	position: relative;
	background-color: #ecf3f7;
	font-family: Helvetica, Arial, sans-serif;
	color: #8c8984;
	text-align: center;
	padding-top: 20px;
	padding-left: 50px;
	padding-right: 50px;
	float: center;
	margin-bottom: 10px;
}
#education h3 {
	text-transform: uppercase;
	font-size: 30px;
}
#education ul {
	text-align: left;
	margin-bottom: 30px;
	line-height: 150%;
}

/* experience section*/

#experience {
	height: 850px;
	border-radius: 10px;
	border: 4px solid #8c8984;
	position: relative;
	background-color: #ECF3F7;
	font-family: Helvetica, Arial, sans-serif;
	color: #8c8984;
	padding-top: 20px;
	text-align: center;
	padding-right: 50px;
	padding-left: 50px;
	float: center;
	margin-bottom: 10px;
}
#experience h3 {
	text-transform: uppercase;
	font-size: 30px;
}
#experience p {
	font-size: 24px;
}
#experience ul {
	text-align: left;
	margin-bottom: 30px;
	line-height: 150%;
}

/* leadership section*/

#leadership {
	height: 450px;
	border-radius: 10px;
	border: 4px solid #8c8984;
	position: relative;
	background-color: #ECF3F7;
	font-family: Helvetica, Arial, sans-serif;
	color: #8c8984;
	padding-top: 20px;
	text-align: center;
	padding-right: 50px;
	padding-left: 50px;
	float: center;
	margin-bottom: 10px;
}
#leadership h3 {
	text-transform: uppercase;
	font-size: 30px;
}
#leadership p {
	font-size: 24px;
}
#leadership ul {
	text-align: left;
	margin-bottom: 30px;
	line-height: 150%;
}

/* skills section */

#skills {
	height: 300px;
	border-radius: 10px;
	border: 4px solid #8c8984;
	position: relative;
	background-color: #ECF3F7;
	font-family: Helvetica, Arial, sans-serif;
	color: #8c8984;
	padding-top: 20px;
	text-align: center;
	padding-right: 50px;
	padding-left: 50px;
	float: center;
	margin-bottom: 10px;
}
#skills h3 {
	text-transform: uppercase;
	font-size: 30px;
}
#skills p {
	font-size: 24px;
}
#skills ul {
	text-align: left;
	margin-bottom: 30px;
	line-height: 150%;
}

/* footer */

#Contact {
	clear: both;
	margin-bottom: 0;
}
#Contact li {
	display: inline-block;
	padding-right: 50px;
	padding-left: 50px;
}
#Contact h1 {
	text-transform: uppercase;
	margin-left: 50px;
	padding-top: 20px;
	font-size: 34px;
}
#Contact ul {
	text-align: center;
}
footer {
	height: 200px;
	border-radius: 10px;
	border: 4px solid #8c8984;
	background-color: #668284;
	font-family: Helvetica, Arial, sans-serif;
	color: #ffffff;
}
footer img {
	box-shadow: 10px 7px 10px #000;
}